<div class="jumbotron hide">
    <div class="jumbo">

            <p class="name">Name: <strong><span></span></strong></p>
            <p class="rollno">Rool No: <strong><span></span></strong></p>
            <p class="test-date">Test date: <strong><span></span></strong></p>
            <p class="subject">Subject: <strong><span></span></strong></p>


        <div class="vertical"></div>
        <p class="attempted">Attempted: <strong><span></span></strong><span class="slash">/</span><strong><span></span></strong></p>
        <p class="right">Right: <strong><span></span></strong></p>
        <p class="wrong">Wrong: <strong><span></span></strong></p>
        <p class="total">Total marks: <strong><span></span></strong></p>

    </div>
</div>

<div class="answer">
    
</div>