<div class="jumbotron jumbotron-big hide">
    <div class="jumbo">

        <p class="name">Name: <span></span></p>
        <p class="rollno">Rool No: <span></span></p>
        <p class="test-date">Test date: <strong class="info"><span></span></strong></p>
        <p class="subject">Subject: <strong><span></span></strong></p>

        <p class="attempted">Attempted: <strong class="info-attempt"><span></span></strong><span class="slash">/</span><strong class="info"><span></span></strong></p>
        <p class="right">Right answer: <strong class="info"><span></span></strong></p>
        <p class="wrong">Wrong answer: <strong class="info"><span></span></strong></p>
        <p class="total">Total marks obtained: <strong class="info"><span></span></strong></p>

    </div>
</div>

<div class="answer">
    
</div>
