<div class="alert">
    <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
    <strong>Please note</strong> 

    This is working for CS2 now.
    
    <br>
    <br>

    Save the response from <a href="http://appsgate.iisc.ernet.in/">appsgate.iisc.ernet.in </a>↓
    
    <div class="gresponse">
        <img src="http://res.cloudinary.com/dgtuutq2l/raw/upload/v1455787285/gate_response_p2ubjz.png" alt="Gate response">
    </div>
</div>