
<% include ./partials/head %>

<div class="container">
        
    <% include ./partials/form %>
    
    <h2 class="loading hidden">Checking your answers..</h2>

    <% include ./partials/answers %>
    

</div>

<% include ./partials/foot %>

